/**
 * 样式配置文件
 * @author CoderMing
 * https://github.com/coderming
 */
@import '../styles/util.styl'

$mainColor       = #3498DB  // 主色，包括header颜色，strong标签文字颜色等

$bgColor         = #F2F2F2  // 背景颜色，指的是PC端大背景的颜色

$mainFontColor   = #444     // 主体文字内容颜色

$mainHeaderColor = #222     // 主体文字标题颜色

$articleSize     = 15.6px     // 主要文字大小，适用于主题内容中的文字

// 第一个字体"Museo Sans"是作者自定义的英文字体
// 如不喜欢可注释掉，或者删掉styles/font里对应的文件
$fontFamily = "Museo Sans", "Arial", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Helvetica Neue", "sans-serif"


