@font-face {
  font-family: "Museo Sans";
  src: url('MuseoSans-500.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans";
  src: url('MuseoSans-400.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Museo Sans";
  src: url('MuseoSans-300.ttf') format('truetype');
  font-weight: 300;
}