/**
 * 样式配置文件
 * @author CoderMing
 * https://github.com/coderming
 */
@import './styles/util.styl'

// 主色，包括header颜色，strong标签文字颜色等
$mainColor = #4682B4

// 背景颜色，指的是PC端大背景的颜色
$bgColor = #F2F2F2

// 主体文字内容颜色
$mainFontColor = #444

// 标题主色，注意是在打印页面会生效
// 在浏览器页面永远为白色
$mainHeaderColor = #222

// 主要文字大小
// 适用于主题内容中的文字
$articleSize = 16px